#body-invert{
    filter: invert(100%);
}
#header{
    border-style: solid ;
    border-color: black;
    background-color:lightblue;
    width: auto;
    margin-bottom: 3%;
    height: 30%;
}
#appname{
    display: inline;
    margin-right: 10%;
}
#page_language{
    display: inline;
}
#language{
    display: inline!important;
    margin-right: 3%;
}
#partOfSpeech{
    display: inline!important;
    margin-right: 3%;
}
#searchbutton{
    margin-right: 3%;

}
#results{
    margin-top: 4%;
    border-style: double;
    background-color: rgb(232,244,248);
    overflow: scroll;
    max-height: 350px;
    padding: 1%;
}
#resultslable{
    text-align: center;
}
form {
    display: inline!important;
}
#SearchForm{
    display: inline!important;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 1%;
    margin-top: 4%;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 150%;
}
.content{
    display: none;
    border-style: double;
    background-color: rgb(232,244,248);
    overflow: scroll;
    max-height: 350px;
    padding: 1%;
}
.preview{
    border-style: double;
    background-color: rgb(232,244,248);
    display: block;
    padding: 1%;
}
.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 80%;
    color: white;
    float: left;
    margin-left: 1%;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
#accessibility{
   display: inline;
}
#translate_page_div{
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
}
