<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=divice-width, initial-scale=1">
		<title> SLU Multilingual Dictionary </title>
		<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>		
    </head>
    <body>
		<h1 style="font-size:25px; color:whitesmoke; background-color:teal; 
	            font-family:verde; 
				text-align:left;">
			<pre> MULTILINGUAL <br><sub style="font-size:40px; color:whitesmoke; font-family:verde;">DICTIONARY </sub>      
                                                <sup> English | Spanish | French | German | Japanese </sup></pre>
		</h1>
		<form method="POST">
		Language: 
		<select name="language" id="language">
		{% for language in language_list %}
			<option value="{{language}}">{{language}}</option>
		{% endfor %}
		</select>
	</form>
		<br>
		<form method="POST">
			Part of speech: 
			<select name="partOfSpeech" id="partOfSpeech">
			{% for PartOfSpeech in part_of_speech_list %}
				<option value="{{PartOfSpeech}}">{{PartOfSpeech}}</option>
			{% endfor %}
			</select>
		</form>
		<br><br>
	</body>
	<script>$(function() {$("#language").on("change", function(event){$.ajax({data: {language : $("#language").val()},type:"POST",url : "{{url_for('Query')}}", success: function(response) {$("#partOfSpeech").html(response);;;
      }})});});</script>
</html>	