<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=divice-width, initial-scale=1">
		<title> SLU Multilingual Dictionary </title>
		<script>
			function showAlert() {
				var myText = "Log has been written too!";
				alert(myText);
			}
		</script>
		
    </head>
    <body>
		<h1 style="font-size:25px; color:whitesmoke; background-color:teal; 
	            font-family:verde; 
				text-align:left;">
			<pre> MULTILINGUAL <br><sub style="font-size:40px; color:whitesmoke; font-family:verde;">DICTIONARY </sub>      
                                                <sup> English | Spanish | French | German | Japanese </sup></pre>
		</h1>
		
		Language: 
		<select name="language" id="language">
		{% for language in language_list %}
			<option value="{{language}}">{{language}}</option>
		{% endfor %}
		</select>
		<br><br>

		Part of Speech: 
		<select name="partOfSpeech" id="partOfSpeech">
			<option value="Noun">Noun</option>
			<option value="Verb">Verb</option>
			<option value="Verb">Adjective</option>
			<option value="Verb">Adverb</option>
		</select>
		<br><br>
		
		<button onclick = showAlert()>
			<a href="http://127.0.0.1:5000/log">Okay</a>
		</button>
				
	</body>
</html>	
